In [19]:
import pandas as pd
from utils import data_wrangling as dw
from statsforecast import StatsForecast
from statsforecast.models import AutoARIMA

In [14]:
INIT = "2012-01-01"
END = "2023-02-28"

In [15]:
load = dw.ons_data(freq='h', ano_inicio=2012, ano_fim=2023, idreg="S")
df_load = dw.pipeline(load).loc[INIT:END,:]
df_load.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 97848 entries, 2012-01-01 00:00:00 to 2023-02-28 23:00:00
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_reg      97848 non-null  category
 1   desc_reg    97848 non-null  category
 2   load_mwmed  97848 non-null  float64
dtypes: category(2), float64(1)
memory usage: 1.7 MB

In [25]:
df_load.describe()

         load_mwmed
count  97848.000000
mean   10969.067011
std     2235.535021
min     5191.709000
25%     9189.557750
50%    11105.231500
75%    12588.866764
max    18924.745000

In [31]:
df_load_sf = dw.prepare_statsforecast_df(df_load, "hourly_load")

In [32]:
df_load_sf.head()

                   ds         y    unique_id
0 2012-01-01 00:00:00  7253.940  hourly_load
1 2012-01-01 01:00:00  6890.371  hourly_load
2 2012-01-01 02:00:00  6414.702  hourly_load
3 2012-01-01 03:00:00  6093.842  hourly_load
4 2012-01-01 04:00:00  5908.571  hourly_load

In [30]:
df_load_sf.dtypes

ds           datetime64[ns]
y                   float64
unique_id            object
dtype: object

In [33]:
sf = StatsForecast(
    models=[AutoARIMA(season_length=24)],
    freq='H'
)

In [34]:
sf.fit(df_load_sf)